{:shorturl-hosts ("http://t.co/" "https://t.co/" "http://tinyurl.com/"
                  "http://is.gd/" "http://wp.me/" "http://ff.im/"
		  "http://goo.gl/" "https://goo.gl/" "http://spr.ly/"
		  "http://tr.im/" "http://short.to/" "http://ow.ly/"
		  "http://u.nu/" "http://twurl.nl/" "http://icio.us/"
		  "http://cot.ag/" "http://ht.ly/"
		  "http://url4.eu/" "http://ur1.ca/"
                  "http://sgp.cm/" "http://dlvr.it/" "http://me.lt/"
                  "http://j.plustar.jp/" "http://ift.tt/" "http://fb.me/"
                  "http://smar.ws/" "http://www.smartnews.com/s/"
                  "http://deb.li/" )
 :bitly-hosts ("http://bit.ly/" "http://j.mp/" "http://amzn.to/"
               "http://s.nikkei.com/" "http://t.asahi.com/" "http://nyti.ms/"
               "http://tcrn.ch/" "http://huff.to/" "http://on.cnn.com/"
               "http://e8.biz/" "http://reut.rs/" "http://nkbp.jp/"
               "http://buff.ly/" "http://amba.to/" "http://bloom.bg")
 :htnto-hosts ("http://htn.to/")
 :hostname "nagaino.herokuapp.com"
 }
